extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    script.
        let firewall = parseInt("#{firewall}");
        const firewallEnd = parseInt("#{firewallEnd}");
        Object.assign(locale, {
            no_connection: "#{locale.no_connection}",
            enable_cookies: "#{locale.enable_cookies}",
            enter_your_username: "#{locale.enter_your_username}",
            enter_your_password: "#{locale.enter_your_password}",
            blacklisted_until: "#{locale.blacklisted_until}",
            blacklisted: "#{locale.blacklisted}",
            not_whitelisted: "#{locale.not_whitelisted}"
        });
    script(type= "text/javascript", src= "/javascripts/login.js")

block content
    .box.mdc-card.mdc-elevation--z8
        h2#title.mdc-typography.mdc-typography--headline4= locale.login
        h3#computername.mdc-typography.mdc-typography--subtitle2= hostname
        .mdc-text-field
            input#username.mdc-text-field__input(type='text' tabindex=1 autocomplete='off' autocapitalize="none")
            .mdc-line-ripple
            label.mdc-floating-label= locale.username
        br
        .mdc-text-field
            input#password.mdc-text-field__input(type='password' tabindex=2)
            .mdc-line-ripple
            label.mdc-floating-label= locale.password
        p#message
        br
        button#submit.mdc-button.mdc-button--raised= locale.submit
